---
import RotatingBanner from "../components/Banner";
import { CallToAction } from "../components/CallToAction";
import { Features } from "../components/Features";
import LandingComponent from "../components/LandingComponent";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Superweb - Digital Products for the future.">
  <main class="min-h-screen flex flex-col">
    <LandingComponent client:load />

    <RotatingBanner client:visible />

    <Features client:visible />
    <CallToAction />
  </main>
</Layout>
