---
import Layout from "../layouts/Layout.astro";

const { message = "Success! Your action was completed." } = Astro.props;
---

<Layout title="Superweb - Digital Products for the future.">
  <div class="h-[75vh] flex justify-center align-center items-center">
    <h1 class="text-2xl text-center">
      We will be in touch! <motion
        inital={{ opacity: 0, rotate: 10 }}
        animate={{ opacity: 1, rotate: 0 }}
        transition={{ duration: 0.5 }}>👋</motion
      >
    </h1>
  </div>
</Layout>
